{% extends 'inventory/main.html' %}

{% load static %}

{% block content %}

<meta charset="UTF-8">
<meta https-equiv='X-UA-Compatible' content='IE=edge'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
/*	FLOATING BUTTON STYLE*/
.floating-btn{
	width: 80px;
	height: 80px;
	background: #731436;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	border-radius: 50%;
	color: white;
	font-size: 60px;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 5;
	transition: background 0.25s;
	outline: blue;
	border: none;
	cursor: pointer;
}
.floating-btn:hover {
	background: #621436;
}

/* MAIN ITEMS STYLE */
.image-container{
	position: relative;
	display: inline-block;
}
.image-container img {
	display: block;
	max-height: 500px;
	max-width: 500px;
	height: 100vw;
}
.overlay-text {
	position: absolute;
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	color: #fff;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.75); 
	padding: 10px 20px; 
	font-size: 100px;
	font-weight: bold;
	font-family: sans-serif;
	text-align: center;
}
.unit-text {
	font-size: 50px;
	top: 55%; 
	left: 50%;
	color: #8f1436;
	font-weight: bold;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.75); 
	text-align: right;
	position: absolute;
}
a.delete-btn{
	border-radius: 28px;
	color: #ffffff;
	font-size: 20px;
	background: #ff0000;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	max-width: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
a.delete-btn:hover{
	background: #910000;
	text-decoration: none;
}
a.primary-btn{
	border-radius: 28px;
	color: #ffffff;
	font-size: 20px;
	background: #008800;
	padding: 10px 30px 10px 30px;
	text-decoration: none;
	max-width: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
a.primary-btn:hover{
	background: #005500;
	text-decoration: none;
}
.btn-container{
	height: 50px;
}
.card-title{
	font-size: 3.0vw;
	color: #731436;
	text-align: center;
}
.card-img-top:hover{
	-webkit-filter: opacity(10%);
}
.card-desc{
	border-radius: 50px;
	position: absolute;
	text-align: center;
	height: 50%;
	font-size: 40px;
	padding-top: 15px;
	inline-size: 100%;
	font-weight: bold;
	font-family: sans-serif;
	color: #731436;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}
</style>

<body>
	<a href="{% url 'create_item'%}" class="floating-btn">+</a>
	<div class="container-fluid">
		<div class="col-sm-12">
			<div class="row">

				{% for i in item%}
				<div class="btn col-sm-6 col-lg-3" id="my-div">
					<div class="card inventory-card">
						<div class="card-desc">
							{{i.description | wordwrap:20 |linebreaksbr }}
						</div>
						
						<div class="image-container">
							{% if i.item_pic%}
							<img class="card-img-top" id="sugar" class="" src="{{ i.item_pic.url }}"/>
							{% else %}
							<img class="card-img-top" id="sugar" class="" src="{% static 'inventory/images/img404.jpg' %}"/>
							{% endif %}
							<div class="row">
								<div class="overlay-text col-10">{{i.quantity}}</div>
								<div class="unit-text col-2">{{i.unit}}</div>
							</div>
						</div>
						
						<div class="card-block">
							<h2 id="name_header" class="card-title">
								{{i.name}}
							</h2>
						</div>
						<div class="btn-container">
							<a class="primary-btn" href="{%url 'update_item' i.id%}">EDIT</a>
							<a class="delete-btn" href="{%url 'delete_item' i.id%}">DELETE</a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</body>

{% endblock content%}
