{% extends 'inventory/main.html' %}

{% load static %}

{% block content %}

<h1 class="container-fluid text-center d-lg-none">Inventory</h1>

<div class="container-fluid">
	
	<div class="row">
		
		<div class="col-sm-12">
			
			<div class="row">
				
				<div class=" btn col-sm-6 col-lg-3">
					<div class="card inventory-card">
						<img class="card-img-top" id="sugar" class="" src="{% static 'inventory/images/sugar.jpg' %}", style="max-height: 500px; max-width: 500px;" />
						<div class="card-block">
							<h2 class="card-title", style="text-align: center;">
								Sugar
							</h2>
						</div>
					</div>
				</div>
				
				<div class="btn col-sm-6 col-lg-3">
					<div class="card inventory-card">
						<img class="card-img-top" id="egg" src="{% static 'inventory/images/egg.jpg' %}", style="max-height: 500px; max-width: 500px;" />
						<div class="card-block">
							<h2 class="card-title", style="text-align: center;">
								Eggs
							</h2>
						</div>
					</div>
				</div>
				
				<div class="btn col-sm-6 col-lg-3">
					<div class="card inventory-card">
						<img class="card-img-top" id="flour" src="{% static 'inventory/images/flour.jpg' %}" style="max-height: 500px; max-width: 500px;" >
						<div class="card-block">
							<h2 class="card-title", style="text-align: center;">
								Flour
							</h2>
						</div>
					</div>
				</div>
				
				<div class="btn col-sm-6 col-lg-3">
					<div class="card inventory-card">
						<img class="card-img-top" id="vanilla_extract" src="{% static 'inventory/images/vanilla.jpg' %}" style="max-height: 500px; max-width: 500px;" >
						<div class="card-block">
							<h2 class="card-title", style="text-align: center;">
								Vanilla Extract
							</h2>
						</div>
					</div>
				</div>
				
				<div class=" btn col-sm-6 col-lg-3">
					<div class="card inventory-card">
						<img class="card-img-top" id="sugar" class="" src="{% static 'inventory/images/sugar.jpg' %}", style="max-height: 500px; max-width: 500px;" />
						<div class="card-block">
							<h2 class="card-title", style="text-align: center;">
								Sugar
							</h2>
						</div>
					</div>
				</div>
				
				<div class="btn col-sm-6 col-lg-3">
					<div class="card inventory-card">
						<img class="card-img-top" id="egg" src="{% static 'inventory/images/egg.jpg' %}", style="max-height: 500px; max-width: 500px;" />
						<div class="card-block">
							<h2 class="card-title", style="text-align: center;">
								Eggs
							</h2>
						</div>
					</div>
				</div>
				
				<div class="btn col-sm-6 col-lg-3">
					<div class="card inventory-card">
						<img class="card-img-top" id="flour" src="{% static 'inventory/images/flour.jpg' %}" style="max-height: 500px; max-width: 500px;" >
						<div class="card-block">
							<h2 class="card-title", style="text-align: center;">
								Flour
							</h2>
						</div>
					</div>
				</div>
				
				<div class="btn col-sm-6 col-lg-3">
					<div class="card inventory-card">
						<img class="card-img-top" id="vanilla_extract" src="{% static 'inventory/images/vanilla.jpg' %}" style="max-height: 500px; max-width: 500px;" >
						<div class="card-block">
							<h2 class="card-title", style="text-align: center;">
								Vanilla Extract
							</h2>
						</div>
					</div>
				</div>
				
				<div class=" btn col-sm-6 col-lg-3">
					<div class="card inventory-card">
						<img class="card-img-top" id="sugar" class="" src="{% static 'inventory/images/sugar.jpg' %}", style="max-height: 500px; max-width: 500px;" />
						<div class="card-block">
							<h2 class="card-title", style="text-align: center;">
								Sugar
							</h2>
						</div>
					</div>
				</div>
				
				<div class="btn col-sm-6 col-lg-3">
					<div class="card inventory-card">
						<img class="card-img-top" id="egg" src="{% static 'inventory/images/egg.jpg' %}", style="max-height: 500px; max-width: 500px;" />
						<div class="card-block">
							<h2 class="card-title", style="text-align: center;">
								Eggs
							</h2>
						</div>
					</div>
				</div>
				
				<div class="btn col-sm-6 col-lg-3">
					<div class="card inventory-card">
						<img class="card-img-top" id="flour" src="{% static 'inventory/images/flour.jpg' %}" style="max-height: 500px; max-width: 500px;" >
						<div class="card-block">
							<h2 class="card-title", style="text-align: center;">
								Flour
							</h2>
						</div>
					</div>
				</div>
				
				<div class="btn col-sm-6 col-lg-3">
					<div class="card inventory-card">
						<img class="card-img-top" id="vanilla_extract" src="{% static 'inventory/images/vanilla.jpg' %}" style="max-height: 500px; max-width: 500px;" >
						<div class="card-block">
							<h2 class="card-title", style="text-align: center;">
								Vanilla Extract
							</h2>
						</div>
					</div>
				</div>
				
				<div class=" btn col-sm-6 col-lg-3">
					<div class="card inventory-card">
						<img class="card-img-top" id="sugar" class="" src="{% static 'inventory/images/sugar.jpg' %}", style="max-height: 500px; max-width: 500px;" />
						<div class="card-block">
							<h2 class="card-title", style="text-align: center;">
								Sugar
							</h2>
						</div>
					</div>
				</div>
				
				<div class="btn col-sm-6 col-lg-3">
					<div class="card inventory-card">
						<img class="card-img-top" id="egg" src="{% static 'inventory/images/egg.jpg' %}", style="max-height: 500px; max-width: 500px;" />
						<div class="card-block">
							<h2 class="card-title", style="text-align: center;">
								Eggs
							</h2>
						</div>
					</div>
				</div>
				
				<div class="btn col-sm-6 col-lg-3">
					<div class="card inventory-card">
						<img class="card-img-top" id="flour" src="{% static 'inventory/images/flour.jpg' %}" style="max-height: 500px; max-width: 500px;" >
						<div class="card-block">
							<h2 class="card-title", style="text-align: center;">
								Flour
							</h2>
						</div>
					</div>
				</div>
				
				<div class="btn col-sm-6 col-lg-3">
					<div class="card inventory-card">
						<img class="card-img-top" id="vanilla_extract" src="{% static 'inventory/images/vanilla.jpg' %}" style="max-height: 500px; max-width: 500px;" >
						<div class="card-block">
							<h2 class="card-title", style="text-align: center;">
								Vanilla Extract
							</h2>
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
	</div>
</div>

{% endblock content%}
